.storybook-table {
    padding: 0 20px 20px;

    &__title {
        font-size: 15px;
    }

    &__table {
        border-collapse: collapse;
    }

    &__td {
        border: 0;
        padding: 0 20px 0 0;
        vertical-align: top;

        &_width {
            &_small {
                width: 100px;
            }

            &_medium {
                width: 170px;
            }

            &_large {
                width: 370px;
            }
        }
    }
}
