.service-item {
    display: flex;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    margin: 0 0 10px;
}
